@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer components {
    .container {
        @apply max-w-7xl mx-auto px-10;
    }

    .button {
        @apply flex justify-center items-center;
        @apply gap-2 rounded-full px-9 h-9;
        @apply text-sm font-semibold;
    }

    .input {
        @apply bg-black/50 px-4 py-2 rounded;
        @apply outline-none focus:border border-white/20;
    }
}
